.gameboard{
  width:600px;
  height:600px;
  background-color: transparent;
  border: solid 2px #234495;
  margin:30px;
}
.bus{
  height:50px;
  width:100px;
  position:absolute;
  z-index:2;
}

.busToOBC{
  background-image: url("../images/busOBC.png");
  background-size: auto;
}

.busToNowhere{
 background-image: url("../images/busNowhere.png");
  background-size: auto;
}