.gameboard{
  width:750px;
  height:900px;
  background-image: url("../images/gameboardBackgroundWithRoadsAndHouse.jpg");
  border: solid 2px #234495;
  margin:30px;
}
.scoreBoard{
  position: relative;
  left:560px;
  top:30px;
  width:150px;
  height:70px;
  background-color: aliceblue;
  border-radius: 15px;
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
}
.scoreBoardElement{
  width:50%;
  padding:9px;
  text-align: right;
}
.busStop{
  position:absolute;
  background-image: url("../images/busStop.png");
  height: 80px;
  width:54px;
  z-index:3;
}
.busStop1{
  top:145px;
  left:340px;
}
.busStop2{
  top:285px;
  left:590px;

}
.busStop3{
  top:425px;
  left:440px;

}
.busStop4{
  top:565px;
  left:620px;

}
.busStop5{
  top:705px;
  left:230px;

}
.busStop6{
  top:845px;
  left:430px;

}
.tree{
  position:absolute;
  background-image: url("../images/tree.png");
  height: 120px;
  width:177px;
  z-index:3;
}
.tree1{
  top:290px;
  left:330px;
}
.tree2{
  top: 570px;
  left: 200px;
}
.tree3{
  top:720px;
  left:400px;
}
.bus{
  height:60px;
  width:230px;
  position:absolute;
  z-index:2;
}
.busToOBC{
  background-image: url("../images/busOBC.png");
  background-size: auto;
}
.busToNowhere{
 background-image: url("../images/busNowhere.png");
  background-size: auto;
}