.navigation{
    margin-left: -50px;
}
.empty-item{
    width:500px;
}
/*FBT-1*/
.slogan{
    text-align: center;
    height:300px;
    filter: opacity(0.1);
    background-image: url("../images/main-background.jpg");
}
.main-slogan{
    padding: 50px;
}
/*FBT-1 END*/
.horizontal-list{
    display: inline-block;
    margin-right: 30px;
}
.function{
    display:inline-block;
    padding:30px;
    text-align: center;
}
.other-functions{

}