body{
    font-family: Arial, sans-serif;
    font-weight: bold;
}
a{
    text-decoration: none;
    color:#fff;
}
.clear{
    clear:both;
}

.horizontal-list{
    display: inline-block;
}
.button{
    font-size: 16px;
    color:#FFFFFF;
    background-color: #00008B;
    text-align: center;
    font-weight:bold;
    letter-spacing: 0.1em;
    border-radius: 3px;
    text-shadow: 0 0 10px 7px rgba(30,30,30,0.2);
    transition: background-color 300ms linear;
}
.button:hover{
    background-color: #3B23FF;
}
/*FBT-1 slogan*/
.slogan{
    height: 705px;
    width: 100%;
    background-image: url("../images/main-background-map-opacity.png");
    background-repeat: no-repeat;
    background-size:100%;
    text-align: center;

}
.slogan .main-slogan{
    font-size: 36px;
    letter-spacing: 0.03em;
    color:#00008B;
    padding-top:20%;
    margin-bottom: 80px;
}

.slogan .secondary-slogan{ /*button*/
    min-width:200px;
    display:inline-block;
    padding:20px;
    border-radius: 3px;
    box-shadow: 0 0 10px 7px rgba(30,30,30,0.2);
    transition: transform 300ms linear;
}
.slogan .secondary-slogan:hover{
    transform: scale(1.02)
}
/*FBT-1 slogan END*/
/*FBT-9 nav*/
.header{
    background-color: #00008B;
    color:#ffffff;
    min-height:70px;
    position:relative; /*to adjust position of the logo relative to the header*/
}
.header .navigation{
    text-transform: uppercase;
    color:#ffffff;
}
.header .logo{
    float:left;
    position:absolute; /*to adjust position of the logo*/
    top:10px;
    left:10px;
}
.header .nav-item{
    float:right;
    margin-top:5px;
    padding: 20px;
    border-bottom:solid 3px #00008B;
    border-top: solid 3px #00008B;
    transition: border-color 300ms linear;
}
.header .nav-item:hover{
    border-bottom-color: #FFF;
    border-top-color: #FFF;
}
/*FBT-9 nav END*/

/*FBT-10 other-functions*/
.other-functions{
    margin-bottom:200px;
    margin-top:30px;
    text-align:center;
}
.other-functions .other-func-item{
    text-align: center;
    font-size:14px;
    color:#00008B;
    padding:8%;
    padding-bottom:0;
    transition: transform 300ms linear,opacity 300ms linear;
}
.other-functions .other-func-item:hover{
    opacity:0.8;
    transform: scale(1.02)
}
.other-functions .three-in-row{
    display:none;
}
@media screen and (min-width:2350px){
    .other-functions .three-in-row{
        display:none;
    }
}
@media screen and (min-width:900px){
    .other-functions .two-in-row{
        display:none;
    }
    .other-functions .three-in-row{
        display:block;
    }
}
/*FBT-10 other-functions END*/
/*FBT-2 main functions*/
.main-functions .function{
    display:inline-block;
    padding:0px;
    text-align: center;
    width: 20%;
}

.main-functions-images{
    width: 100%;
    padding: 0px;;
}
/*FBT-2 END*/



/*FBT-2 main functions END*/

/*FBT-04 contact form + FBT-06 form validation*/
.contact-form form{
    float:right;
    width:420px;
    padding:30px;
    margin-right:10%;
    margin-bottom:10%;
    color:#00008B;
    /*text-align: right;*/
}
.contact-form select{
    border-width: 2px;
    transition: border-color 300ms linear, border-width 300ms linear;

}
.contact-form input{
    border-width: 2px;
    border-radius:5px;
    margin-left:5px;
    transition: border-color 300ms linear, border-width 300ms linear;
}
.contact-form .focusable:focus,
.contact-form .focusable:hover{
    border-color: #00008B;
    border-width: 2px;
}
.contact-form #subject{
    border-radius:5px;
    margin-left:5px;
    width:253px;
}
.contact-form .contact-form-label{
    font-size: 24px;
    text-align: center;
    padding:30px;
}
.contact-form .form-item{
    margin-top:10px;
}
.contact-form .form-label{
    width:150px;
    display:inline-block;
    text-align: right;
}
.contact-form .message-text{
    position:relative;
    top:-140px;
}
.contact-form textarea{
    width:247px;
    border-radius: 5px;
    margin-left:5px;
    border-width:2px;
    transition: border-color 300ms linear, border-width 300ms linear;
}
#submit{
    position:relative;
    top:10px;
    left:325px;
    width:80px;
    height:30px;
    transition: background-color 300ms linear;
}
/*FBT-04 contact form + FBT-06 form validation END*/



.footer{
    background-color: #00008B;
    color:#ffffff;
}

.fa-facebook-square{
    padding-left: 15px;
    padding-right: 15px;
    display: block;
}
.fa-twitter-square{
    padding-right: 15px;
    display: block;
}

.fa-google-plus-square{


}
.fa-copyright{
    float:right;
    margin-top: 9px;
    margin-right: 5px;
}

.fa-facebook-square:hover{
    color: #3B23FF;
    transform: scale(1.02)

}

.fa-twitter-square:hover{
    color: #3B23FF;
    transform: scale(1.02)
}

.fa-google-plus-square:hover{
    color: #3B23FF;
    transform: scale(1.02)
}

